<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h1>Login or Sign Up</h1>
        </div>
        <div class="card-body">
            <form th:action="@{users/loginOrSignUp}" method="post">
                <div class="form-group">
                    <label for="name">User Name</label>
                    <input type="text" id="name" name="name" class="form-control" required>
                    <input type="text" id="password" name="password" class="form-control" required>
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Or User Name Error</span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <div th:if="${error}" th:text="${error}" style="color: red;"></div>
        </div>
    </div>
</div>
</body>
</html>