<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
<!--    <title>Transaction Detail</title>-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuidv4.min.js"></script>-->
<!--    <script>-->
<!--        document.addEventListener("DOMContentLoaded", function() {-->
<!--            var idField = document.querySelector('input[type="hidden"][th:field="*{id}"]');-->
<!--            if (idField.value === "") {-->
<!--                idField.value = uuidv4();-->
<!--            }-->
<!--        });-->
<!--    </script>-->
<!--</head>-->
<head>
    <title>Transaction Detail</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuidv4.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
        var form = document.querySelector('form');
        var url = new URL(window.location.href);

        // 区分修改和新增
        var transactionId = url.pathname.split('/').pop();

        if (transactionId === 'create') {
            form.method = 'POST';
            form.action = '/transactions/create';
            // if (idField.value === "") {
            //     idField.value = uuidv4();
            // }
        } else {
            form.action = '/transactions/edit';
        }
    });
    </script>
</head>
<body>
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h1 th:text="${transaction.id != null ? 'Edit Transaction' : 'Add Transaction'}"></h1>
        </div>
        <div class="card-body">
            <form th:action="@{/transactions/create}" th:object="${transaction}" method="post">
                <input type="hidden" th:field="*{id}">
                <input type="hidden" th:field="*{userId}">
<!--                <div class="form-group">-->
<!--                    <label for="userId">userId</label>-->
<!--                    <input type="text" id="userId" th:field="*{userId}" class="form-control" required>-->
<!--                </div>-->
                <div class="form-group">
                    <label for="amount">Amount</label>
                    <input type="number" step="0.01" id="amount" th:field="*{amount}" class="form-control" required min="0">
                </div>
                <div class="form-group">
                    <label for="transactionType">Transaction Type</label>
                    <select id="transactionType" th:field="*{transactionType}" class="form-control" required>
                        <option value="DEPOSIT">Deposit</option>
                        <option value="WITHDRAWAL">Withdrawal</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a th:href="@{/transactions(userId=${userId})}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>
